In [ ]:
import pandas as pd

In [6]:
# Chemin vers le fichier CSV
chemin_fichier = "resultats_legifrance_loda.csv"
df_loda = pd.read_csv(chemin_fichier)

In [7]:
df_loda.sample()

,Titre,ID,Date,Nature,Etat,Origine,Date Publication
2830,Décret n° 2016-1460 du 28 octobre 2016 autoris...,LEGITEXT000033326444_09-11-2022,2016-10-31T00:00:00.000+0000,DECRET,VIGUEUR,LEGI,2016-10-30T00:00:00.000+0000

In [ ]:
df_loda['Date'] = pd.to_datetime(df_loda['Date'])

# On ajoute la colonne mois et l'année via la variable Date (On a arbitrairement écarté Date Publication car les écarts sont de quelques jours uniquement)
df_loda['mois'] = df_loda['Date'].dt.month.apply(lambda x: f'{x:02}')
df_loda['année'] = df_loda['Date'].dt.year.astype(str)

df_loda.head()

,Titre,ID,Date,Nature,Etat,Origine,Date Publication,mois,année
0,Arrêté du 31 août 2022 fixant les niveaux de p...,LEGITEXT000046244600_21-08-2023,2022-09-01 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-09-01T00:00:00.000+0000,09,2022
1,Arrêté du 30 août 2022 portant création de la ...,LEGITEXT000046664861_28-08-2023,2022-12-02 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-12-01T00:00:00.000+0000,12,2022
2,Arrêté du 30 août 2022 portant création de la ...,LEGITEXT000046664861_02-12-2022,2022-12-02 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-12-01T00:00:00.000+0000,12,2022
3,Arrêté du 29 août 2022 portant création de la ...,LEGITEXT000046666903_02-12-2022,2022-12-02 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-12-01T00:00:00.000+0000,12,2022
4,Arrêté du 22 août 2022 fixant la liste des pos...,LEGITEXT000046230032_21-11-2022,2022-09-01 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-08-31T00:00:00.000+0000,09,2022

In [11]:
print("Valeurs uniques dans la colonne 'année' :")
print(df_loda['année'].unique())

# Valeurs uniques pour la colonne 'mois'
print("\nValeurs uniques dans la colonne 'mois' :")
print(df_loda['mois'].unique())

Valeurs uniques dans la colonne 'année' :
['2022' '2023' '2024' '2021' '2020' '2019' '2222' '2018' '2017' '2016'
 '2015' '2014' '2013' '2012' '2011' '2010' '2009' '2008' '2007' '2006']

Valeurs uniques dans la colonne 'mois' :
['09' '12' '08' '10' '07' '01' '05' '06' '04' '03' '02' '11']