In [1]:
import pandas as pd

In [2]:
# Chemin vers le fichier CSV
chemin_fichier = "resultats_legifrance_loda.csv"
df_loda = pd.read_csv(chemin_fichier)

In [3]:
df_loda.sample()

,Titre,ID,Date,Nature,Etat,Origine,Date Publication
8048,Arrêté du 5 juin 2009 relatif à l'utilisation ...,LEGITEXT000020750700_18-06-2009,2009-06-18T00:00:00.000+0000,ARRETE,VIGUEUR,LEGI,2009-06-17T00:00:00.000+0000

In [4]:
df_loda['Date'] = pd.to_datetime(df_loda['Date'])

# On ajoute la colonne mois et l'année via la variable Date (On a arbitrairement écarté Date Publication car les écarts sont de quelques jours uniquement)
df_loda['Mois'] = df_loda['Date'].dt.month.apply(lambda x: f'{x:02}')
df_loda['Année'] = df_loda['Date'].dt.year.astype(str)

df_loda.head()

,Titre,ID,Date,Nature,Etat,Origine,Date Publication,Mois,Année
0,Arrêté du 31 août 2022 fixant les niveaux de p...,LEGITEXT000046244600_21-08-2023,2022-09-01 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-09-01T00:00:00.000+0000,09,2022
1,Arrêté du 30 août 2022 portant création de la ...,LEGITEXT000046664861_28-08-2023,2022-12-02 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-12-01T00:00:00.000+0000,12,2022
2,Arrêté du 30 août 2022 portant création de la ...,LEGITEXT000046664861_02-12-2022,2022-12-02 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-12-01T00:00:00.000+0000,12,2022
3,Arrêté du 29 août 2022 portant création de la ...,LEGITEXT000046666903_02-12-2022,2022-12-02 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-12-01T00:00:00.000+0000,12,2022
4,Arrêté du 22 août 2022 fixant la liste des pos...,LEGITEXT000046230032_21-11-2022,2022-09-01 00:00:00+00:00,ARRETE,VIGUEUR,LEGI,2022-08-31T00:00:00.000+0000,09,2022

In [6]:
print("Valeurs uniques dans la colonne 'année' :")
print(df_loda['Année'].unique())

# Valeurs uniques pour la colonne 'mois'
print("\nValeurs uniques dans la colonne 'mois' :")
print(df_loda['Mois'].unique())

Valeurs uniques dans la colonne 'année' :
['2022' '2023' '2024' '2021' '2020' '2019' '2222' '2018' '2017' '2016'
 '2015' '2014' '2013' '2012' '2011' '2010' '2009' '2008' '2007' '2006']

Valeurs uniques dans la colonne 'mois' :
['09' '12' '08' '10' '07' '01' '05' '06' '04' '03' '02' '11']

In [7]:
df_loda['Date'] = pd.to_datetime(df_loda['Date'])

In [9]:
# Trouver la date la plus ancienne
date_min = df_loda['Date'].min()

# Trouver la date la plus récente
date_max = df_loda['Date'].max()

print(date_min)
print(date_max)

2006-12-30 00:00:00+00:00
2222-02-22 00:00:00+00:00

In [11]:
# Nombre de textes par date
grouped_total = df_loda.groupby(["Année", "Mois"]).size().reset_index(name="Total_Textes")
print(grouped_total)

    Année Mois  Total_Textes
0    2006   12            39
1    2007   01            20
2    2007   02            71
3    2007   03            46
4    2007   04            25
..    ...  ...           ...
196  2023   07             2
197  2024   04            11
198  2024   07             5
199  2024   11             2
200  2222   02             2

[201 rows x 3 columns]

In [ ]:
'''
fs = s3fs.S3FileSystem(client_kwargs={"endpoint_url": "https://minio.lab.sspcloud.fr"})

MY_BUCKET = "anhlinh"
fs.ls(MY_BUCKET)

# Sauvegarde dans S3
MY_BUCKET = "anhlinh"
FILE_PATH_OUT_S3 = f"{MY_BUCKET}/diffusion/______.csv"

with fs.open(FILE_PATH_OUT_S3, "w") as file_out:
    _______.to_csv(file_out)

# Sauvegarde dans S3
MY_BUCKET = "anhlinh"
FILE_PATH_OUT_S3 = f"{MY_BUCKET}/diffusion/_______.csv"

with fs.open(FILE_PATH_OUT_S3, "w") as file_out:
    ______.to_csv(file_out)

fs.ls(f"{MY_BUCKET}/diffusion")
'''